@model List<CategoryDto>
@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <div class="w-100 d-flex align-items-center justify-content-between">
        <h3 class="fw-bold mb-3">PhoneCase-@(ViewBag.ShowDeleted==true ? "SİLİNMİŞ": "") KATEGORİLER</h3>
        @if(ViewBag.ShowDeleted==true)
        {
            <a asp-area="Admin" asp-controller="Category" asp-action="Index" asp-route-isDeleted=@false class="btn btn-primary">Tüm Kategorilere Dön</a>
        }
        else{
         <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="btn btn-success">Yeni Kategori</a>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                @if(Model is not null)
                {
                <div class="table-responsive"></div>
                    <table id="entity-tables" class="display table table-striped table-hover">
                        <thead>
                            <tr>
                                <th width="30">Id</th>
                                <th width="50">Resim</th>
                                <th>Kategori</th>
                                <th width="175">İşlemler</th>
                            </tr>
                        </thead>
                    <tbody>

                        @foreach(CategoryDto c in Model)
                        {
                        <tr>
                                <td>@c.Id</td>
                                <td>
                                    <img class="img-fluid" style="max-width: 30px;" src="@($"http://localhost:5289/images/{c.ImageUrl}")">
                                </td>
                                <td>@c.Name</td>
                                <td>
                                    @if(ViewBag.ShowDeleted==false)
                                    {
                                        <a asp-area="Admin" asp-controller="Category" asp-action="Edit" asp-route-id="@c.Id" class="btn btn-warning btn-sm">Güncelle</a>
                                        <a asp-area="Admin" asp-controller="Category" asp-action="Trash" 
                                    asp-route-id="@c.Id" class="btn btn-danger btn-sm">Sil</a>
                                    }else{
          <form asp-area="Admin" asp-controller="Category" asp-action="Trash" asp-route-id="@c.Id" 
          asp-route-issoft="@true">
            <button type="submit" class="btn btn-info btn-sm">Geri Al</button>
          </form>
          <form asp-area="Admin" asp-controller="Category" asp-action="Trash" asp-route-id="@c.Id" 
          asp-route-issoft="@false"> 
            <button type="submit" class="btn btn-danger btn-sm">Kalıcı Olarak Sil</button>
            </form>
                                    }
                                </td>
                        </tr>
                        }
                    </tbody>
                    </table>
                }
                else{
                    <div class="alert alert-warning">
                        Hiç Kategori bulunamadı!
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section ScriptsSection{
    @await Html.PartialAsync("_DatatablesPartial")
}

